#include "keys_ru.h"

#include <dt-bindings/zmk/behaviors.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>

#include <behaviors.dtsi>
#include <behaviors/mouse_key_toggle.dtsi>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors/input_gestures_accel.dtsi>

#include <zmk-input-inertia/input/processor/input_inertia.dtsi>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 35
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500

&mt { flavor = "tap-preferred"; };

&lt {
    flavor = "balanced";
    bindings = <&mo>, <&long_kp>;

    tapping-term-ms = <180>;
};

&sl {
    release-after-ms = <5000>;
    ignore-modifiers;
};

&sk {
    release-after-ms = <30000>;
    quick-release;
};

&key_repeat { usage-pages = <HID_USAGE_KEY HID_USAGE_CONSUMER>; };

/ {
    combos {
        compatible = "zmk,combos";

        combo_ctrl_ent {
            bindings = <&long_kp LC(ENTER)>;
            key-positions = <2 4>;
            require-prior-idle-ms = <30>;
        };

        combo_enter {
            bindings = <&long_kp ENTER>;
            key-positions = <3 2>;
            require-prior-idle-ms = <30>;
            timeout-ms = <30>;
        };

        combo_tab {
            bindings = <&long_kp TAB>;
            key-positions = <14 15>;
            require-prior-idle-ms = <30>;
            timeout-ms = <30>;
        };

        combo_esc {
            bindings = <&long_kp ESC>;
            key-positions = <26 27>;
            require-prior-idle-ms = <30>;
            timeout-ms = <30>;
        };

        combo_ru {
            bindings = <&layer_ru>;
            key-positions = <15 16>;
            timeout-ms = <30>;
            require-prior-idle-ms = <30>;
        };

        combo_en {
            bindings = <&layer_en>;
            key-positions = <19 20>;
            timeout-ms = <30>;
            require-prior-idle-ms = <30>;
        };

        combo_osl_sym_en {
            bindings = <&sl 24>;
            key-positions = <21 22>;
            require-prior-idle-ms = <50>;
            layers = <0 1 24>;
            timeout-ms = <30>;
        };

        combo_lessgreater_en {
            bindings = <&less_greater_en>;
            require-prior-idle-ms = <30>;
            key-positions = <31 33>;
            layers = <0 1 24>;
        };

        combo_osl_sym_ru {
            bindings = <&sl 25>;
            key-positions = <21 22>;
            require-prior-idle-ms = <50>;
            layers = <2 3 25>;
            timeout-ms = <30>;
        };

        combo_lessgreater_ru {
            bindings = <&less_greater_ru>;
            key-positions = <31 33>;
            require-prior-idle-ms = <30>;
            layers = <2 3>;
        };

        combo_braces_en {
            bindings = <&braces_en>;
            key-positions = <19 21>;
            require-prior-idle-ms = <50>;
            layers = <0 1 24>;
        };

        combo_asterisk_ru {
            bindings = <&kp RU_ASTERISK>;
            timeout-ms = <30>;
            key-positions = <7 9 8>;
            layers = <2 3 25 21>;
        };

        combo_asterisk_en {
            bindings = <&kp ASTERISK>;
            timeout-ms = <30>;
            key-positions = <7 8 9>;
            layers = <0 1 20 24>;
        };

        combo_capsword_en {
            bindings = <&layer_on 1>;
            key-positions = <14 13>;
            layers = <0 1>;
        };

        combo_osl_fn {
            bindings = <&sl 26>;
            key-positions = <26 28>;
        };

        combo_osl_os_en {
            bindings = <&sl 27>;
            key-positions = <25 26>;
            layers = <0 1 20 24 27 4 7 8 16 22 18>;
        };

        combo_capsword_ru {
            bindings = <&layer_on 3>;
            key-positions = <14 13>;
            layers = <2 3>;
        };

        combo_plus {
            bindings = <&kp PLUS>;
            key-positions = <7 8>;
        };

        parentheses {
            bindings = <&parentheses>;
            key-positions = <14 16>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
        };

        combo_braces_ru {
            bindings = <&braces_ru>;
            key-positions = <19 21>;
            timeout-ms = <25>;
            layers = <2 3 25>;
            require-prior-idle-ms = <50>;
        };

        combo_brackets_en {
            bindings = <&brackets_en>;
            key-positions = <7 9>;
            layers = <0 1 24>;
            timeout-ms = <30>;
            require-prior-idle-ms = <30>;
        };

        combo_brackets_ru {
            bindings = <&brackets_ru>;
            key-positions = <7 9>;
            layers = <2 3 25>;
            timeout-ms = <30>;
        };

        combo_minus {
            bindings = <&kp MINUS>;
            key-positions = <31 32>;
            require-prior-idle-ms = <30>;
            timeout-ms = <30>;
        };

        combo_ru_at {
            bindings = <&en_kp AT>;
            key-positions = <14 15 16>;
            layers = <2 3 25>;
        };

        combo_en_at {
            bindings = <&kp AT>;
            key-positions = <16 15 14>;
            layers = <0 1 24>;
        };

        combo_quotes_en {
            bindings = <&quote_morph_en>;
            key-positions = <27 28>;
            layers = <0 1 20 24>;
        };

        combo_quotes_ru {
            bindings = <&quote_morph_ru>;
            key-positions = <27 28>;
            layers = <2 3 25 21>;
        };

        combo_slash_ru {
            bindings = <&slash_morph_ru>;
            key-positions = <3 4>;
            layers = <2 3 21 25>;
        };

        combo_slash_en {
            bindings = <&slash_morph_en>;
            key-positions = <3 4>;
            layers = <0 1 20 24>;
        };

        combo_arrow_ru {
            bindings = <&arrow_ru>;
            key-positions = <31 32 33>;
            layers = <2 3 21 25>;
        };

        combo_arrow_en {
            bindings = <&arrow_en>;
            key-positions = <31 33 32>;
            layers = <0 1 20 24>;
        };

        combo_and_ru {
            bindings = <&en_kp AMPERSAND>;
            key-positions = <2 3 4>;
            layers = <2 3 21 25>;
        };

        combo_and_en {
            bindings = <&kp AMPERSAND>;
            key-positions = <2 3 4>;
            layers = <0 1 20 24>;
        };

        combo_dollar_ru {
            bindings = <&en_kp DOLLAR>;
            key-positions = <19 20 21>;
            layers = <2 3 21 25>;
        };

        combo_dollar_en {
            bindings = <&kp DOLLAR>;
            key-positions = <19 20 21>;
            layers = <0 1 20 24>;
        };

        combo_hash_ru {
            bindings = <&en_kp HASH>;
            key-positions = <26 27 28>;
            layers = <2 3 21 25>;
        };

        combo_hash_en {
            bindings = <&kp HASH>;
            key-positions = <26 27 28>;
            layers = <0 1 20 24>;
        };

        cmb_osl_os_ru {
            bindings = <&sl 27>;
            key-positions = <25 26>;
            layers = <2 3 21 25 28 16 16 16 15 23 19>;
        };

        combo_equal {
            bindings = <&kp EQUAL>;
            key-positions = <8 9>;
        };

        combo_under {
            bindings = <&kp UNDER>;
            key-positions = <32 33>;
        };
    };

    macros {
        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&to 2>,
                <&macro_tap_time 30>,
                <&kp LS(LC(N8)) &mouse_off>;

            label = "LAYER_RU";
            tap-ms = <1>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&to 0>,
                <&macro_tap_time 30>,
                <&kp LS(LC(N9)) &mouse_off>;

            label = "LAYER_EN";
            tap-ms = <1>;
        };

        lg_ru: lg_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N8))>;
            label = "LG_RU";
        };

        lg_en: lg_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LC(N9))>;
            label = "LG_EN";
        };

        en_kp: en_kp {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&kp LS(LC(N9)) &macro_param_1to1 &kp MACRO_PLACEHOLDER &kp LS(LC(N8))>;
            label = "EN_KP";
        };

        ru_kp: ru_kp {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&kp LS(LC(N8)) &macro_param_1to1 &kp MACRO_PLACEHOLDER &kp LS(LC(N9))>;
            label = "RU_KP";
        };

        mouse_off: mouse_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(F9))>;
            label = "MOUSE_OFF";
        };

        free: free {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(F10))>;
            label = "FREE";
        };

        overlay: overlay {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(F11))>;
            label = "OVERLAY";
        };

        select_row: select_row {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END &kp LS(HOME)>;
            label = "SELECT_ROW";
            wait-ms = <0>;
        };

        en_code: en_code_block {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp GRAVE &kp GRAVE &kp RETURN &kp RET &kp GRAVE &kp GRAVE &kp GRAVE &kp UP_ARROW>;
            label = "EN_CODE_BLOCK";
            tap-ms = <50>;
        };

        ru_code: ru_code {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&lg_en &kp GRAVE &kp GRAVE &kp GRAVE &kp RETURN &kp RET &kp GRAVE &kp GRAVE &kp GRAVE &kp UP_ARROW &lg_ru>;
            label = "RU_CODE";
            tap-ms = <50>;
            wait-ms = <10>;
        };

        ru_cw_off: ru_cw_off {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &to 2>;
            label = "RU_CW_OFF";
            wait-ms = <0>;
        };

        en_cw_off: en_cw_off {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &to 0>;
            label = "EN_CW_OFF";
            wait-ms = <0>;
        };

        zeros_macro: zeros_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N0 &kp N0 &kp N0 &kp N0 &kp N0 &kp N0>;
            label = "ZEROS_MACRO";
        };

        ml_en: ml_en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &key_on MACRO_PLACEHOLDER &layer_on 16>,
                <&macro_pause_for_release>,
                <&macro_param_1to1 &key_off MACRO_PLACEHOLDER &layer_off 16>;

            label = "ML_EN";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        quotes_ru: dbl_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(NUMBER_2) &kp LS(NUMBER_2) &kp LEFT_ARROW>;
            label = "DBL_QUOTE";
            wait-ms = <0>;
        };

        quotes_en: quotes_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp DOUBLE_QUOTES &kp LEFT_ARROW>;
            label = "QUOTES_EN";
            wait-ms = <0>;
        };

        braces_en: braces_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>;
            label = "BRACES_EN";
            wait-ms = <0>;
        };

        braces_ru: braces_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&lg_en &braces_en &lg_ru>;
            label = "BRACES_RU";
            wait-ms = <0>;
        };

        brackets_en: brackets_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT_ARROW>;
            label = "BRACKETS_EN";
            wait-ms = <0>;
        };

        brackets_ru: brackets_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&lg_en &brackets_en &lg_ru>;
            label = "BRACKETS_RU";
            wait-ms = <0>;
        };

        parentheses: parentheses {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_ARROW>;
            label = "PARENTHESES";
            wait-ms = <0>;
        };

        less_greater_en: less_greater_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp GREATER_THAN &kp LEFT>;
            label = "LESS_GREATER_EN";
            wait-ms = <0>;
        };

        less_greater_ru: less_greater_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&lg_en &less_greater_en &lg_ru>;
            label = "LESS_GREATER_RU";
        };

        alt_spc_ru: alt_spc_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(SPACE) &mouse_off>, <&macro_tap_time 1>, <&to 2>;

            label = "ALT_SPC_RU";
            wait-ms = <0>;
        };

        kp_layeroff: cancel_msoff {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings = <&macro_param_1to1 &layer_off MACRO_PLACEHOLDER &macro_param_2to1 &kp MACRO_PLACEHOLDER>;
            label = "CANCEL_MSOFF";
        };

        kp_: kp_ {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            label = "KP_";
        };

        testops: testops {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LC(LG(F7)))>,
                <&macro_wait_time 100>,
                <&kp LEFT_ARROW &kp LS(LC(LG(F8)))>;

            label = "TESTOPS";
            wait-ms = <350>;
            tap-ms = <150>;
        };

        long_kp: long_kp {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;

            label = "LONG_KP";
            wait-ms = <50>;
        };

        bt_set: bt_set {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&out OUT_BLE &macro_param_1to2 &bt BT_SEL MACRO_PLACEHOLDER>;
            label = "BT_SET";
            tap-ms = <20>;
        };

        arrow_en: arrow_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GREATER_THAN>;
            label = "ARROW_EN";
        };

        arrow_ru: arrow_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&lg_en &arrow_en &lg_ru>;
            label = "ARROW_RU";
        };

        bt_set_en: bt_set_en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &bt_set MACRO_PLACEHOLDER &layer_off 27 &lg_en &lg_en>;
            label = "BT_SET_en";
            wait-ms = <45>;
            tap-ms = <40>;
        };

        one_shot: one_shot {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &sk MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&kp K_CANCEL>;

            label = "ONE_SHOT";
            tap-ms = <10>;
        };

        bt_set_ru: bt_set_ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &bt_set MACRO_PLACEHOLDER &layer_off 28 &lg_ru &lg_ru>;
            label = "BT_SET_RU";
            wait-ms = <45>;
            tap-ms = <40>;
        };

        vm_lang_ru: vm_lang {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &lg_ru &lg_ru>;
            label = "VM_LANG";
            wait-ms = <100>;
            tap-ms = <100>;
        };

        vm_lang_en: vm_lang_en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &lg_en &lg_en>;
            label = "VM_LANG_EN";
            wait-ms = <100>;
            tap-ms = <100>;
        };

        ms_free_ru: macro_mless_free {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mouse_off>, <&macro_tap_time 1>, <&layer_on 5>;

            label = "MACRO_MLESS_FREE";
            wait-ms = <0>;
        };

        ms_over_ru: ms_over_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&overlay>, <&macro_tap_time 1>, <&layer_on 7>;

            label = "MS_OVER_RU";
            wait-ms = <0>;
        };

        ms_free_en: ms_free_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mouse_off>, <&macro_tap_time 1>, <&layer_on 5>;

            label = "ms_free_en";
            wait-ms = <0>;
        };

        ms_over_en: ms_over_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&overlay>, <&macro_tap_time 1>, <&layer_on 7>;

            label = "ms_over_en";
            wait-ms = <0>;
        };

        kp_m2_ru: kp_m2_ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap_time 1>,
                <&layer_off 8 &layer_on 5>;

            label = "kp_m2_ru";
            tap-ms = <15>;
            wait-ms = <0>;
        };

        kp_sub_ru: kp_sub_ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap_time 1>,
                <&to 2>;

            label = "kp_sub_ru";
        };

        kp_to: kp_to {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &macro_param_2to1 &to MACRO_PLACEHOLDER>;
            label = "KP_TO";
        };

        kp_m2_en: kp_m2_en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap_time 1>,
                <&layer_off 8 &layer_on 5>;

            label = "KP_M2_EN";
            tap-ms = <15>;
            wait-ms = <0>;
        };

        kp_sub_en: kp_sub_en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap_time 1>,
                <&to 0>;

            label = "KP_SUB_EN";
        };

        r_to: r_to {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&long_kp RU_CYRILLIC_ER &macro_param_1to1 &to MACRO_PLACEHOLDER>;
            label = "R_TO";
        };

        space_to: space_to {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&long_kp SPACE &macro_param_1to1 &to MACRO_PLACEHOLDER>;
            label = "SPACE_TO";
        };

        mouse_back: mouse_back {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&kp TAB>,
                <&macro_tap_time 1>,
                <&macro_param_1to1 &to MACRO_PLACEHOLDER>;

            label = "MOUSE_BACK";
        };

        alt_spc_en: alt_spc_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(SPACE) &mouse_off>, <&macro_tap_time 1>, <&to 0>;

            label = "ALT_SPC_EN";
            wait-ms = <0>;
        };

        kp_free: kp_free {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &free>;
            label = "KP_FREE";
        };

        freeoff_sl: freeoff_sl {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings = <&mouse_off &macro_param_1to1 &layer_off MACRO_PLACEHOLDER &macro_param_2to1 &sl MACRO_PLACEHOLDER>;
            label = "FREEOFF_SL";
        };

        mouseoff_kp_ru: mouseoff_kp_ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&mouse_off &layer_off 4 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "MOUSEOFF_KP_RU";
        };

        mouseoff_kp_en: mouseoff_kp_en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&mouse_off &layer_off 4 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "MOUSEOFF_KP_EN";
        };

        free_kp: free_kp {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&mouse_off &macro_param_1to1 &kp MACRO_PLACEHOLDER &free>;
            label = "FREE_KP";
        };

        kp_m1_ru: kp_m1_ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap_time 1>,
                <&layer_off 7 &layer_on 8>;

            label = "KP_M1_RU";
            tap-ms = <15>;
            wait-ms = <0>;
        };

        kp_m1_en: kp_m1_en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap_time 1>,
                <&layer_off 7 &layer_on 8>;

            label = "KP_M1_EN";
            tap-ms = <15>;
            wait-ms = <0>;
        };

        overlay_off: overlay_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(F8))>;
            label = "OVERLAY_OFF";
        };

        overoff_sl: overoff_sl {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings = <&mouse_off &macro_param_1to1 &layer_off MACRO_PLACEHOLDER &macro_param_2to1 &sl MACRO_PLACEHOLDER>;
            label = "OVEROFF_SL";
        };

        ms_set: ms_set {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&kp SPACE &kp RU_CYRILLIC_EN &kp MINUS &mouse_off &macro_param_1to1 &to MACRO_PLACEHOLDER &free>;
            label = "MS_SET";
        };

        macro_unsafe_en: macro_unsafe_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp H &kp I &kp S &kp I &kp S &kp U &kp N &kp S &kp A &kp F &kp E>;
            label = "MACRO_UNSAFE_EN";
            wait-ms = <30>;
        };

        macro_unsafe_ru: macro_unsafe_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&lg_en &kp T &kp H &kp I &kp S &kp I &kp S &kp U &kp N &kp S &kp A &kp F &kp E &lg_ru>;
            label = "MACRO_UNSAFE_RU";
            wait-ms = <30>;
        };

        ml_ru: ml_ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &key_on MACRO_PLACEHOLDER &layer_on 16>,
                <&macro_pause_for_release>,
                <&macro_param_1to1 &key_off MACRO_PLACEHOLDER &layer_off 16>;

            label = "ML_RU";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        kp_over_ru: kp_over_ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "KP_OVER_RU";
        };

        kp_over_en: kp_over_en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "KP_OVER_EN";
        };

        mml_ru: mml_ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &key_on MACRO_PLACEHOLDER &layer_on 11>,
                <&macro_pause_for_release>,
                <&macro_param_1to1 &key_off MACRO_PLACEHOLDER &layer_off 11>;

            label = "MML_RU";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        mml_en: mml_en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1 &key_on MACRO_PLACEHOLDER &layer_on 6>,
                <&macro_pause_for_release>,
                <&macro_param_1to1 &key_off MACRO_PLACEHOLDER &layer_off 6>;

            label = "MML_EN";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        moff_kp_ru: moff_kp_ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&layer_off 10 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "MOFF_KP_RU";
        };

        moff_kp_en: moff_kp_en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&layer_off 5 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "MOFF_KP_EN";
        };

        cmd_scroll: cmd_scroll {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI &macro_param_1to1 &msc MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &msc MACRO_PLACEHOLDER &kp LEFT_GUI>;

            label = "CMD_SCROLL";
            wait-ms = <0>;
        };
    };

    behaviors {
        layer_off: layer_off {
            compatible = "zmk,behavior-toggle-layer";
            label = "LAYER_OFF";
            #binding-cells = <1>;
            toggle-mode = "off";
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        hrm_slow: hrm_slow {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_SLOW";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
        };

        ru_lt_cw_off: ru_lt_cw_off {
            compatible = "zmk,behavior-hold-tap";
            label = "RU_LT_CW_OFF";
            bindings = <&mo>, <&ru_cw_off>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
        };

        en_lt_cw_off: en_lt_cw_off {
            compatible = "zmk,behavior-hold-tap";
            label = "EN_LT_CW_OFF";
            bindings = <&mo>, <&en_cw_off>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
        };

        bspc_morph: bspc_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC_MORPH";
            bindings = <&kp BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
        };

        key_on: key_on {
            compatible = "zmk,behavior-key-toggle";
            label = "KEY_ON";
            #binding-cells = <1>;
        };

        key_off: key_off {
            compatible = "zmk,behavior-key-toggle";
            label = "KEY_OFF";
            #binding-cells = <1>;
            toggle-mode = "off";
        };

        hrml_en: hrml_en {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML_EN";
            bindings = <&ml_en>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <1 2 3 5 6 7 8 9 10 12 13 14 15 16 17 18 19 20 21 22 23 25 26 27 28 29 30 31 32 33 34 42 39 41>;
        };

        layer_on: layer_on {
            compatible = "zmk,behavior-toggle-layer";
            label = "LAYER_ON";
            #binding-cells = <1>;
            toggle-mode = "on";
        };

        hrml_slow_en: hrml_slow_en {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML_SLOW_EN";
            bindings = <&ml_en>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
        };

        soft_sign: soft_sign {
            compatible = "zmk,behavior-mod-morph";
            label = "SOFT_SIGN";
            bindings = <&kp RU_CYRILLIC_SOFT_SIGN>, <&kp RU_CYRILLIC_HARD_SIGN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        en_dot_excl: en_dot_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "EN_DOT_EXCL";
            bindings = <&morph_en_dot>, <&en_cw_off COLON>;

            #binding-cells = <0>;
            mods = <(MOD_RALT|MOD_RGUI)>;
        };

        en_com_ques: en_com_ques {
            compatible = "zmk,behavior-mod-morph";
            label = "EN_COM_QUES";
            bindings = <&morph_en_com>, <&en_cw_off SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_RALT|MOD_RGUI)>;
        };

        ru_dot_excl: ru_dot_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_DOT_EXCL";
            bindings = <&morph_ru_dot>, <&ru_cw_off RU_COLON>;

            #binding-cells = <0>;
            mods = <(MOD_RALT|MOD_RGUI)>;
        };

        ru_com_ques: ru_com_ques {
            compatible = "zmk,behavior-mod-morph";
            label = "RU_COM_QUES";
            bindings = <&morph_ru_com>, <&ru_cw_off RU_SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_RALT|MOD_RGUI)>;
        };

        ru_dot_mt: ru_dot_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "RU_DOT_MT";
            bindings = <&kp>, <&ru_dot_excl>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        ru_com_mt: ru_com_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "RU_COM_MT";
            bindings = <&kp>, <&ru_com_ques>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        en_com_mt: en_com_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "EN_COM_MT";
            bindings = <&kp>, <&en_com_ques>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        en_dot_mt: en_dot_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "EN_DOT_MT";
            bindings = <&kp>, <&en_dot_excl>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        space_morph: space_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "SPACE_MORPH";
            bindings = <&kp SPACE>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_RSFT|MOD_LALT|MOD_LSFT|MOD_RALT|MOD_LCTL|MOD_RGUI|MOD_RCTL|MOD_LGUI)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT|MOD_LALT|MOD_RALT|MOD_LCTL|MOD_RGUI|MOD_LGUI|MOD_RCTL)>;
        };

        caps_soft_sign: caps_soft_sign {
            compatible = "zmk,behavior-mod-morph";
            label = "CAPS_SOFT_SIGN";
            bindings =
                <&kp LS(RU_CYRILLIC_SOFT_SIGN)>,
                <&kp LS(RU_CYRILLIC_HARD_SIGN)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        space_lt: space_lt {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_LT";
            bindings = <&mo>, <&space_morph>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
        };

        mod_dtap: mod_dtap {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_DTAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "hold-preferred";
        };

        hrosm_l: hrosm_l {
            compatible = "zmk,behavior-hold-tap";
            label = "HROSM_L";
            bindings = <&one_shot>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 18 30 31 32 33 42 19 7 8 20 9 21 22 10 34 23 41>;
        };

        hrosm_r: hrosm_r {
            compatible = "zmk,behavior-hold-tap";
            label = "HROSM_R";
            bindings = <&one_shot>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            hold-trigger-key-positions = <12 1 13 25 26 27 28 29 17 16 4 5 3 15 2 14>;
        };

        vm_en: vm_en {
            compatible = "zmk,behavior-hold-tap";
            label = "VM_EN";
            bindings = <&vm_lang_en>, <&vm_lang_en>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        vm_ru: vm_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "VM_RU";
            bindings = <&vm_lang_ru>, <&vm_lang_ru>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        space_nav_to: space_nav_to {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_NAV_TO";
            bindings = <&mo>, <&space_to>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        move_num: move_num {
            compatible = "zmk,behavior-hold-tap";
            label = "MOVE_NUM";
            bindings = <&mo>, <&mouse_back>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        sticky_drag: sticky_drag {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_DRAG";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <10000>;
            ignore-modifiers;
        };

        mt_mouseoff_ru: mt_mouseoff_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_MOUSEOFF_RU";
            bindings = <&mouseoff_kp_ru>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mt_mouseoff_en: mt_mouseoff_en {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_MOUSEOFF_EN";
            bindings = <&mouseoff_kp_en>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mt_free: mt_free {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_FREE";
            bindings = <&free_kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        l_morph_ru: l_morph_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "L_MORPH_RU";
            bindings = <&kp L>, <&mouseoff_kp_ru LC(L)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        l_morph_en: l_morph_en {
            compatible = "zmk,behavior-mod-morph";
            label = "L_MORPH_EN";
            bindings = <&kp L>, <&mouseoff_kp_en LC(L)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        e_morph_ru: e_morph_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "E_MORPH_RU";
            bindings = <&kp E>, <&mouseoff_kp_ru LC(E)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        e_morph_en: e_morph_en {
            compatible = "zmk,behavior-mod-morph";
            label = "E_MORPH_EN";
            bindings = <&kp E>, <&mouseoff_kp_en LC(E)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        k_morph_ru: k_morph_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "K_MORPH_RU";
            bindings = <&kp K>, <&mouseoff_kp_ru LC(K)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        k_morph_en: k_morph_en {
            compatible = "zmk,behavior-mod-morph";
            label = "K_MORPH_EN";
            bindings = <&kp K>, <&mouseoff_kp_en LC(K)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        slash_morph_ru: slash_morph_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_MORPH_RU";
            bindings = <&morph_pipe_ru>, <&kp RU_BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        slash_morph_en: slash_morph_en {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_MORPH_EN";
            bindings = <&morph_pipe_en>, <&kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        quote_morph_ru: quote_morph_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "QUOTE_MORPH_RU";
            bindings = <&morph_quotes_ru>, <&en_kp SINGLE_QUOTE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        quote_morph_en: quote_morph_en {
            compatible = "zmk,behavior-mod-morph";
            label = "QUOTE_MORPH_EN";
            bindings = <&morph_quotes_en>, <&kp SINGLE_QUOTE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mt_sub_ru: mt_sub_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_SUB_RU";
            bindings = <&kp_m1_ru>, <&kp_sub_ru>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mt_sub_en: mt_sub_en {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_SUB_EN";
            bindings = <&kp_m1_en>, <&kp_sub_en>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        morph_en_dot: morph_en_dot {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_EN_DOT";
            bindings = <&en_cw_off DOT>, <&en_cw_off EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        morph_en_com: morph_en_com {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_EN_COM";
            bindings = <&en_cw_off COMMA>, <&en_cw_off QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        morph_ru_dot: morph_ru_dot {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_RU_DOT";
            bindings = <&ru_cw_off RU_DOT>, <&ru_cw_off RU_EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        morph_ru_com: morph_ru_com {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_RU_COM";
            bindings = <&ru_cw_off RU_COMMA>, <&ru_cw_off RU_QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        morph_quotes_ru: morph_quotes_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_QUOTES_RU";
            bindings = <&kp RU_DQT>, <&en_kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        morph_quotes_en: morph_quotes_en {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_QUOTES_EN";
            bindings = <&kp DQT>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        morph_pipe_ru: morph_pipe_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_PIPE_RU";
            bindings = <&kp RU_SLASH>, <&en_kp PIPE>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        morph_pipe_en: morph_pipe_en {
            compatible = "zmk,behavior-mod-morph";
            label = "MORPH_PIPE_EN";
            bindings = <&kp SLASH>, <&kp PIPE>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        nav_set: nav_set {
            compatible = "zmk,behavior-hold-tap";
            label = "NAV_SET";
            bindings = <&mo>, <&ms_set>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        hrml_ru: hrml_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML_RU";
            bindings = <&ml_ru>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
            hold-trigger-key-positions = <1 2 3 5 6 7 8 9 10 12 13 14 15 16 17 18 19 20 21 22 23 25 26 27 28 29 30 31 32 33 34 42 39 41>;
        };

        hrml_slow_ru: hrml_slow_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML_SLOW_RU";
            bindings = <&ml_ru>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
        };

        m_morph: m_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "M_MORPH";
            bindings = <&kp M>, <&kp LG(M)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        com_morph: com_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "COM_MORPH";
            bindings = <&kp COMMA>, <&kp LG(COMMA)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        dot_morph: dot_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_MORPH";
            bindings = <&kp DOT>, <&kp LG(DOT)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        slash_morph: slash_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_MORPH";
            bindings = <&kp SLASH>, <&kp LG(SLASH)>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        mhrm: mhrm {
            compatible = "zmk,behavior-hold-tap";
            label = "MHRM";
            bindings = <&kp>, <&free_kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        mkp_hold: mkp_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "MKP_HOLD";
            bindings = <&kp>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mkpoff_hold_ru: mkpoff_hold_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "MKPOFF_HOLD_RU";
            bindings = <&moff_kp_ru>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mkpoff_hold_en: mkpoff_hold_en {
            compatible = "zmk,behavior-hold-tap";
            label = "MKPOFF_HOLD_EN";
            bindings = <&moff_kp_en>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        moff_mt_en: moff_mt_en {
            compatible = "zmk,behavior-hold-tap";
            label = "MOFF_MT_EN";
            bindings = <&moff_kp_en>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        moff_mt_ru: moff_mt_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "MOFF_MT_RU";
            bindings = <&moff_kp_ru>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        mb1_morph_ru: mb1_morph_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "MB1_MORPH_RU";
            bindings = <&mkp LCLK>, <&moff_kp_ru E>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        mb1_morph_en: mb1_morph_en {
            compatible = "zmk,behavior-mod-morph";
            label = "MB1_MORPH_EN";
            bindings = <&mkp LCLK>, <&moff_kp_ru E>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        mdown_morph_en: mdown_morph_en {
            compatible = "zmk,behavior-mod-morph";
            label = "MDOWN_MORPH_EN";
            bindings = <&mmv MOVE_DOWN>, <&moff_kp_en K>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        mdown_morph_ru: mdown_morph_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "MDOWN_MORPH_RU";
            bindings = <&mmv MOVE_DOWN>, <&moff_kp_ru K>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        mright_morph_en: mright_morph_en {
            compatible = "zmk,behavior-mod-morph";
            label = "MRIGHT_MORPH_EN";
            bindings = <&mmv MOVE_RIGHT>, <&moff_kp_en L>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        mright_morph_ru: mright_morph_ru {
            compatible = "zmk,behavior-mod-morph";
            label = "MRIGHT_MORPH_RU";
            bindings = <&mmv MOVE_RIGHT>, <&moff_kp_ru L>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        scdown_morph: scdown_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "SCDOWN_MORPH";
            bindings = <&msc SCRL_DOWN>, <&cmd_scroll SCRL_DOWN>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        scup_morph: scup_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "SCUP_MORPH";
            bindings = <&msc SCRL_UP>, <&cmd_scroll SCRL_UP>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        En {
            bindings = <
&kp BACKSPACE  &kp Q                     &kp W                     &kp U                  &mt LC(R) A             &mt LC(T) K_CANCEL                         &kp Z     &kp V             &kp K                  &kp D            &kp K_CANCEL          &none
&kp K_CANCEL   &hrml_slow_en LEFT_GUI C  &hrml_slow_en LEFT_ALT I  &hrosm_l LEFT_SHIFT E  &hrml_en LCTRL O        &en_com_mt LC(F) 0                         &kp L     &hrml_en RCTRL N  &hrosm_r LEFT_SHIFT T  &hrosm_r RALT S  &hrml_slow_en RGUI H  &kp K_CANCEL
&kp DELETE     &mt LC(Z) F               &mt LC(X) Y               &mt LC(C) X            &mt LC(V) SINGLE_QUOTE  &en_dot_mt LG(V) 0                         &kp B     &kp M             &kp P                  &kp G            &mt LC(SLASH) J       &none
                                         &kp LS(F7)                &kp F7                 &ms_over_en             &lt 18 SPACE        &sl 22    &bspc_morph  &lt 20 R  &ms_free_en       &kp F2                 &kp LS(F2)
            >;

            display-name = "English";
        };

        En_CW {
            bindings = <
&trans            &kp LS(Q)                     &kp LS(W)                     &kp LS(U)                  &mt LC(R) LS(A)         &mt LC(T) K_CANCEL                        &kp LS(Z)     &kp LS(V)             &kp LS(K)                  &kp LS(D)            &kp LS(K_CANCEL)          &trans
&kp LS(K_CANCEL)  &hrml_slow_en LEFT_GUI LS(C)  &hrml_slow_en LEFT_ALT LS(I)  &hrosm_l LEFT_SHIFT LS(E)  &hrml_en LCTRL LS(O)    &en_com_mt LC(F) 0                        &kp LS(L)     &hrml_en RCTRL LS(N)  &hrosm_r LEFT_SHIFT LS(T)  &hrosm_r RALT LS(S)  &hrml_slow_en RGUI LS(H)  &kp LS(K_CANCEL)
&trans            &mt LC(Z) LS(F)               &mt LC(X) LS(Y)               &mt LC(C) LS(X)            &mt LC(V) SINGLE_QUOTE  &en_dot_mt LG(V) 0                        &kp LS(B)     &kp LS(M)             &kp LS(P)                  &kp LS(G)            &mt LC(SLASH) LS(J)       &trans
                                                &trans                        &trans                     &ms_over_en             &en_lt_cw_off 18 SPACE  &sl 22    &trans  &lt 20 LS(R)  &ms_free_en           &trans                     &trans
            >;

            display-name = "CapsWord_en";
        };

        Ru {
            bindings = <
&trans             &kp RU_CYRILLIC_TSE                         &soft_sign                            &kp RU_CYRILLIC_YA                  &mt LC(R) RU_CYRILLIC_A       &mt LC(T) RU_CYRILLIC_YU                    &kp RU_CYRILLIC_ZE     &kp RU_CYRILLIC_VE             &kp RU_CYRILLIC_KA                  &kp RU_CYRILLIC_DE            &kp RU_CYRILLIC_SHCHA               &trans
&kp RU_CYRILLIC_E  &hrml_slow_ru LEFT_GUI RU_CYRILLIC_SHORT_I  &hrml_slow_ru LEFT_ALT RU_CYRILLIC_I  &hrosm_l LEFT_SHIFT RU_CYRILLIC_IE  &hrml_ru LCTRL RU_CYRILLIC_O  &ru_com_mt LC(F) 0                          &kp RU_CYRILLIC_EL     &hrml_ru RCTRL RU_CYRILLIC_EN  &hrosm_r LEFT_SHIFT RU_CYRILLIC_TE  &hrosm_r RALT RU_CYRILLIC_ES  &hrml_slow_ru RGUI RU_CYRILLIC_CHE  &kp RU_CYRILLIC_SHA
&trans             &mt LC(Z) RU_CYRILLIC_EF                    &mt LC(X) RU_CYRILLIC_U               &mt LC(C) RU_CYRILLIC_HA            &mt LC(V) RU_CYRILLIC_YERU    &ru_dot_mt LG(V) 0                          &kp RU_CYRILLIC_BE     &kp RU_CYRILLIC_EM             &kp RU_CYRILLIC_PE                  &kp RU_CYRILLIC_GHE           &mt LC(SLASH) RU_CYRILLIC_ZHE       &trans
                                                               &trans                                &trans                              &ms_over_ru                   &lt 18 SPACE              &sl 22    &trans  &lt 20 RU_CYRILLIC_ER  &ms_free_ru                    &trans                              &trans
            >;

            display-name = "Russian";
        };

        Ru_CW {
            bindings = <
&trans                 &kp LS(RU_CYRILLIC_TSE)                         &caps_soft_sign                           &kp LS(RU_CYRILLIC_YA)                  &mt LC(R) LS(RU_CYRILLIC_A)       &mt LC(T) LS(RU_CYRILLIC_YU)                    &kp LS(RU_CYRILLIC_ZE)     &kp LS(RU_CYRILLIC_VE)             &kp LS(RU_CYRILLIC_KA)                  &kp LS(RU_CYRILLIC_DE)            &kp LS(RU_CYRILLIC_SHCHA)               &trans
&kp LS(RU_CYRILLIC_E)  &hrml_slow_ru LEFT_GUI LS(RU_CYRILLIC_SHORT_I)  &hrml_slow_ru LEFT_ALT LS(RU_CYRILLIC_I)  &hrosm_l LEFT_SHIFT LS(RU_CYRILLIC_IE)  &hrml_ru LCTRL LS(RU_CYRILLIC_O)  &ru_com_mt LC(F) 0                              &kp LS(RU_CYRILLIC_EL)     &hrml_ru RCTRL LS(RU_CYRILLIC_EN)  &hrosm_r LEFT_SHIFT LS(RU_CYRILLIC_TE)  &hrosm_r RALT LS(RU_CYRILLIC_ES)  &hrml_slow_ru RGUI LS(RU_CYRILLIC_CHE)  &kp LS(RU_CYRILLIC_SHA)
&trans                 &mt LC(Z) LS(RU_CYRILLIC_EF)                    &mt LC(X) LS(RU_CYRILLIC_U)               &mt LC(C) LS(RU_CYRILLIC_HA)            &mt LC(V) LS(RU_CYRILLIC_YERU)    &ru_dot_mt LG(V) 0                              &kp LS(RU_CYRILLIC_BE)     &kp LS(RU_CYRILLIC_EM)             &kp LS(RU_CYRILLIC_PE)                  &kp LS(RU_CYRILLIC_GHE)           &mt LC(SLASH) LS(RU_CYRILLIC_ZHE)       &trans
                                                                       &trans                                    &trans                                  &ms_over_ru                       &ru_lt_cw_off 18 SPACE        &trans    &trans  &lt 20 LS(RU_CYRILLIC_ER)  &ms_free_ru                        &trans                                  &trans
            >;

            display-name = "CapsWord_ru";
        };

        MFree_en {
            display-name = "MFree_en";
            bindings = <
&none  &kp Q             &kp W             &kp E             &mt_free LC(R) R  &mt_mouseoff_en LC(T) T                         &kp Y                  &kp U     &kp I        &kp O        &kp P         &trans
&none  &mml_en LEFT_GUI  &mml_en LALT      &mml_en LSHFT     &mml_en LCTRL     &mt_mouseoff_en LC(F) G                         &kp H                  &kp J     &k_morph_en  &l_morph_en  &kp SEMI      &kp SQT
&none  &mt_free LC(Z) Z  &mt_free LC(X) X  &mt_free LC(C) C  &mt_free LC(V) V  &mt_mouseoff_en LG(V) B                         &kp N                  &m_morph  &com_morph   &dot_morph   &slash_morph  &trans
                         &trans            &trans            &ms_over_en       &space_lt 18 0           &sl 22    &bspc_morph  &lt 20 RU_CYRILLIC_ER  &none     &trans       &trans
            >;
        };

        Mouse {
            bindings = <
&trans  &mo 29        &mo 30        &mb1_morph_en   &mkp_hold LC(R) RCLK  &mkpoff_hold_en LC(T) MCLK                    &trans  &mkp LCLK       &mmv MOVE_UP     &trans            &trans           &trans
&trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LCTRL             &mkpoff_hold_en LC(F) MCLK                    &trans  &mmv MOVE_LEFT  &mdown_morph_en  &mright_morph_en  &trans           &trans
&trans  &trans        &trans        &trans          &trans                &moff_mt_en LG(V) B                           &trans  &msc SCRL_LEFT  &scdown_morph    &scup_morph       &msc SCRL_RIGHT  &trans
                      &trans        &trans          &ms_over_en           &space_lt 18 0              &trans    &trans  &trans  &none           &trans           &trans
            >;
        };

        MMods_en {
            display-name = "MMods_en";
            bindings = <
&none  &free_kp Q        &free_kp W    &e_morph_en    &free_kp R     &free_kp T                    &free_kp Y  &kp U     &kp I        &kp O        &kp P         &trans
&none  &mhrm LEFT_GUI A  &mhrm LALT S  &mhrm LSHFT D  &mhrm LCTRL F  &free_kp F                    &kp H       &kp J     &k_morph_en  &l_morph_en  &kp SEMI      &kp SQT
&none  &kp_free Z        &kp_free X    &kp_free C     &kp_free V     &kp_free B                    &free_kp N  &m_morph  &com_morph   &dot_morph   &slash_morph  &trans
                         &trans        &trans         &trans         &trans      &trans    &trans  &trans      &trans    &trans       &trans
            >;
        };

        M1_en {
            display-name = "M1_en";
            bindings = <
&none                    &kp_m1_en RU_CYRILLIC_TSE      &kp_m1_en RU_CYRILLIC_SOFT_SIGN  &kp_m1_en RU_CYRILLIC_YA  &kp_m1_en RU_CYRILLIC_A     &kp_m1_en RU_CYRILLIC_YU                                     &kp RU_CYRILLIC_ZE  &kp RU_CYRILLIC_VE  &kp RU_CYRILLIC_KA  &kp RU_CYRILLIC_DE   &kp RU_CYRILLIC_SHCHA  &trans
&kp_m1_en RU_CYRILLIC_E  &kp_m1_en RU_CYRILLIC_SHORT_I  &kp_m1_en RU_CYRILLIC_I          &kp_m1_en RU_CYRILLIC_IE  &kp_m1_en RU_CYRILLIC_O     &kp_m1_en LS(N6)                                             &kp RU_CYRILLIC_EL  &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_ES   &kp RU_CYRILLIC_CHE    &kp RU_CYRILLIC_SHA
&none                    &kp_m1_en RU_CYRILLIC_EF       &kp_m1_en RU_CYRILLIC_U          &kp_m1_en RU_CYRILLIC_HA  &kp_m1_en RU_CYRILLIC_YERU  &kp_m1_en LS(RU_N7)                                          &kp RU_CYRILLIC_BE  &kp RU_CYRILLIC_EM  &kp RU_CYRILLIC_PE  &kp RU_CYRILLIC_GHE  &kp RU_CYRILLIC_ZHE    &trans
                                                        &trans                           &trans                    &ms_over_en                 &nav_set 18 5             &overoff_sl 7 22    &kp_to BSPC 7  &move_num 20 7      &ms_free_en         &trans              &trans
            >;
        };

        M2_en {
            bindings = <
&none              &kp RU_CYRILLIC_TSE      &kp RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_YA  &kp RU_CYRILLIC_A     &kp RU_CYRILLIC_YU                                          &kp_m2_en RU_CYRILLIC_ZE  &kp_m2_en RU_CYRILLIC_VE  &kp_m2_en RU_CYRILLIC_KA  &kp_m2_en RU_CYRILLIC_DE   &kp_m2_en RU_CYRILLIC_SHCHA  &trans
&kp RU_CYRILLIC_E  &kp RU_CYRILLIC_SHORT_I  &kp RU_CYRILLIC_I          &kp RU_CYRILLIC_IE  &kp RU_CYRILLIC_O     &kp LS(N6)                                                  &kp_m2_en RU_CYRILLIC_EL  &kp_m2_en RU_CYRILLIC_EN  &kp_m2_en RU_CYRILLIC_TE  &kp_m2_en RU_CYRILLIC_ES   &kp_m2_en RU_CYRILLIC_CHE    &kp_m2_en RU_CYRILLIC_SHA
&none              &kp RU_CYRILLIC_EF       &kp RU_CYRILLIC_U          &kp RU_CYRILLIC_HA  &kp RU_CYRILLIC_YERU  &kp LS(RU_N7)                                               &kp_m2_en RU_CYRILLIC_BE  &kp_m2_en RU_CYRILLIC_EM  &kp_m2_en RU_CYRILLIC_PE  &kp_m2_en RU_CYRILLIC_GHE  &kp_m2_en RU_CYRILLIC_ZHE    &trans
                                            &trans                     &trans              &none                 &nav_set 18 5       &overoff_sl 8 22    &kp_to BACKSPACE 7  &move_num 20 7            &ms_free_en               &trans                    &trans
            >;

            display-name = "M2_en";
        };

        MFree_ru {
            bindings = <
&none  &kp Q             &kp W             &kp E             &mt_free LC(R) R  &mt_mouseoff_ru LC(T) T                         &kp Y                  &kp U        &kp I        &kp O        &kp P         &trans
&none  &mml_ru LEFT_GUI  &mml_ru LALT      &mml_ru LSHFT     &mml_ru LCTRL     &mt_mouseoff_ru LC(F) G                         &kp H                  &kp J        &k_morph_ru  &l_morph_ru  &kp SEMI      &kp SQT
&none  &mt_free LC(Z) Z  &mt_free LC(X) X  &mt_free LC(C) C  &mt_free LC(V) V  &mt_mouseoff_ru LG(V) B                         &kp N                  &m_morph     &com_morph   &dot_morph   &slash_morph  &trans
                         &trans            &trans            &ms_over_ru       &space_lt 18 0           &sl 22    &bspc_morph  &lt 20 RU_CYRILLIC_ER  &ms_free_ru  &trans       &trans
            >;

            display-name = "MFree_ru";
        };

        Mouse_ru {
            bindings = <
&trans  &trans  &trans  &trans  &trans       &mkpoff_hold_ru LC(T) MCLK                    &trans  &trans  &trans           &trans            &trans  &trans
&trans  &trans  &trans  &trans  &trans       &mkpoff_hold_ru LC(F) MCLK                    &trans  &trans  &mdown_morph_ru  &mright_morph_ru  &trans  &trans
&trans  &trans  &trans  &trans  &trans       &moff_mt_ru LG(V) B                           &trans  &trans  &trans           &trans            &trans  &trans
                &trans  &trans  &ms_over_ru  &trans                      &trans    &trans  &trans  &trans  &trans           &trans
            >;
        };

        MMods_ru {
            display-name = "MMods_ru";
            bindings = <
&none  &free_kp Q        &free_kp W    &e_morph_ru    &free_kp R     &free_kp T                    &free_kp Y  &kp U     &kp I        &kp O        &kp P         &trans
&none  &mhrm LEFT_GUI A  &mhrm LALT S  &mhrm LSHFT D  &mhrm LCTRL F  &free_kp F                    &kp H       &kp J     &k_morph_ru  &l_morph_ru  &kp SEMI      &kp SQT
&none  &kp_free Z        &kp_free X    &free_kp C     &free_kp V     &free_kp B                    &free_kp N  &m_morph  &com_morph   &dot_morph   &slash_morph  &trans
                         &trans        &trans         &trans         &trans      &trans    &trans  &trans      &trans    &trans       &trans
            >;
        };

        M1_ru {
            display-name = "M1_ru";
            bindings = <
&none                    &kp_m1_ru RU_CYRILLIC_TSE      &kp_m1_ru RU_CYRILLIC_SOFT_SIGN  &kp_m1_ru RU_CYRILLIC_YA  &kp_m1_ru RU_CYRILLIC_A     &kp_m1_ru RU_CYRILLIC_YU                    &kp RU_CYRILLIC_ZE  &kp RU_CYRILLIC_VE  &kp RU_CYRILLIC_KA  &kp RU_CYRILLIC_DE   &kp RU_CYRILLIC_SHCHA  &trans
&kp_m1_ru RU_CYRILLIC_E  &kp_m1_ru RU_CYRILLIC_SHORT_I  &kp_m1_ru RU_CYRILLIC_I          &kp_m1_ru RU_CYRILLIC_IE  &kp_m1_ru RU_CYRILLIC_O     &kp_m1_ru LS(N6)                            &kp RU_CYRILLIC_EL  &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_ES   &kp RU_CYRILLIC_CHE    &kp RU_CYRILLIC_SHA
&none                    &kp_m1_ru RU_CYRILLIC_EF       &kp_m1_ru RU_CYRILLIC_U          &kp_m1_ru RU_CYRILLIC_HA  &kp_m1_ru RU_CYRILLIC_YERU  &kp_m1_ru LS(RU_N7)                         &kp RU_CYRILLIC_BE  &kp RU_CYRILLIC_EM  &kp RU_CYRILLIC_PE  &kp RU_CYRILLIC_GHE  &kp RU_CYRILLIC_ZHE    &trans
                                                        &trans                           &trans                    &trans                      &trans                    &trans    &trans  &trans              &trans              &trans              &trans
            >;
        };

        M2_ru {
            display-name = "M2_ru";
            bindings = <
&none              &kp RU_CYRILLIC_TSE      &kp RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_YA  &kp RU_CYRILLIC_A     &kp RU_CYRILLIC_YU                    &kp_m2_ru RU_CYRILLIC_ZE  &kp_m2_ru RU_CYRILLIC_VE  &kp_m2_ru RU_CYRILLIC_KA  &kp_m2_ru RU_CYRILLIC_DE   &kp_m2_ru RU_CYRILLIC_SHCHA  &trans
&kp RU_CYRILLIC_E  &kp RU_CYRILLIC_SHORT_I  &kp RU_CYRILLIC_I          &kp RU_CYRILLIC_IE  &kp RU_CYRILLIC_O     &kp LS(N6)                            &kp_m2_ru RU_CYRILLIC_EL  &kp_m2_ru RU_CYRILLIC_EN  &kp_m2_ru RU_CYRILLIC_TE  &kp_m2_ru RU_CYRILLIC_ES   &kp_m2_ru RU_CYRILLIC_CHE    &kp_m2_ru RU_CYRILLIC_SHA
&none              &kp RU_CYRILLIC_EF       &kp RU_CYRILLIC_U          &kp RU_CYRILLIC_HA  &kp RU_CYRILLIC_YERU  &kp LS(RU_N7)                         &kp_m2_ru RU_CYRILLIC_BE  &kp_m2_ru RU_CYRILLIC_EM  &kp_m2_ru RU_CYRILLIC_PE  &kp_m2_ru RU_CYRILLIC_GHE  &kp_m2_ru RU_CYRILLIC_ZHE    &trans
                                            &trans                     &trans              &trans                &trans              &trans    &trans  &trans                    &trans                    &trans                    &trans
            >;
        };

        MSub_ru {
            display-name = "MSub_ru";
            bindings = <
&none              &kp RU_CYRILLIC_TSE      &mt_sub_ru RU_CYRILLIC_SOFT_SIGN RU_CYRILLIC_SOFT_SIGN  &mt_sub_ru RU_CYRILLIC_YA RU_CYRILLIC_YA  &mt_sub_ru RU_CYRILLIC_A RU_CYRILLIC_A        &kp RU_CYRILLIC_YU                           &kp RU_CYRILLIC_ZE  &mt_sub_ru RU_CYRILLIC_VE RU_CYRILLIC_VE  &mt_sub_ru RU_CYRILLIC_KA RU_CYRILLIC_KA  &mt_sub_ru RU_CYRILLIC_DE RU_CYRILLIC_DE    &kp RU_CYRILLIC_SHCHA  &trans
&kp RU_CYRILLIC_E  &kp RU_CYRILLIC_SHORT_I  &mt_sub_ru RU_CYRILLIC_I RU_CYRILLIC_I                  &mt_sub_ru RU_CYRILLIC_IE RU_CYRILLIC_IE  &mt_sub_ru RU_CYRILLIC_O RU_CYRILLIC_O        &kp RU_COMMA                                 &kp RU_CYRILLIC_EL  &mt_sub_ru RU_CYRILLIC_EN RU_CYRILLIC_EN  &mt_sub_ru RU_CYRILLIC_TE RU_CYRILLIC_TE  &mt_sub_ru RU_CYRILLIC_ES RU_CYRILLIC_ES    &kp RU_CYRILLIC_CHE    &kp RU_CYRILLIC_SHA
&none              &kp RU_CYRILLIC_EF       &mt_sub_ru RU_CYRILLIC_U RU_CYRILLIC_U                  &mt_sub_ru RU_CYRILLIC_HA RU_CYRILLIC_HA  &mt_sub_ru RU_CYRILLIC_YERU RU_CYRILLIC_YERU  &kp RU_DOT                                   &kp RU_CYRILLIC_BE  &mt_sub_ru RU_CYRILLIC_EM RU_CYRILLIC_EM  &mt_sub_ru RU_CYRILLIC_PE RU_CYRILLIC_PE  &mt_sub_ru RU_CYRILLIC_GHE RU_CYRILLIC_GHE  &kp RU_CYRILLIC_ZHE    &trans
                                            &trans                                                  &trans                                    &none                                         &space_nav_to 19 2  &none    &kp_to BSPC 14  &move_num 21 8      &trans                                    &trans                                    &trans
            >;
        };

        MSub_en {
            display-name = "MSub_en";
            bindings = <
&none              &kp RU_CYRILLIC_TSE      &mt_sub_en RU_CYRILLIC_SOFT_SIGN RU_CYRILLIC_SOFT_SIGN  &mt_sub_en RU_CYRILLIC_YA RU_CYRILLIC_YA  &mt_sub_en RU_CYRILLIC_A RU_CYRILLIC_A        &kp RU_CYRILLIC_YU                               &kp RU_CYRILLIC_ZE  &mt_sub_en RU_CYRILLIC_VE RU_CYRILLIC_VE  &mt_sub_en RU_CYRILLIC_KA RU_CYRILLIC_KA  &mt_sub_en RU_CYRILLIC_DE RU_CYRILLIC_DE    &kp RU_CYRILLIC_SHCHA  &trans
&kp RU_CYRILLIC_E  &kp RU_CYRILLIC_SHORT_I  &mt_sub_en RU_CYRILLIC_I RU_CYRILLIC_I                  &mt_sub_en RU_CYRILLIC_IE RU_CYRILLIC_IE  &mt_sub_en RU_CYRILLIC_O RU_CYRILLIC_O        &kp RU_COMMA                                     &kp RU_CYRILLIC_EL  &mt_sub_en RU_CYRILLIC_EN RU_CYRILLIC_EN  &mt_sub_en RU_CYRILLIC_TE RU_CYRILLIC_TE  &mt_sub_en RU_CYRILLIC_ES RU_CYRILLIC_ES    &kp RU_CYRILLIC_CHE    &kp RU_CYRILLIC_SHA
&none              &kp RU_CYRILLIC_EF       &mt_sub_en RU_CYRILLIC_U RU_CYRILLIC_U                  &mt_sub_en RU_CYRILLIC_HA RU_CYRILLIC_HA  &mt_sub_en RU_CYRILLIC_YERU RU_CYRILLIC_YERU  &kp RU_DOT                                       &kp RU_CYRILLIC_BE  &mt_sub_en RU_CYRILLIC_EM RU_CYRILLIC_EM  &mt_sub_en RU_CYRILLIC_PE RU_CYRILLIC_PE  &mt_sub_en RU_CYRILLIC_GHE RU_CYRILLIC_GHE  &kp RU_CYRILLIC_ZHE    &trans
                                            &trans                                                  &trans                                    &none                                         &space_nav_to 18 0  &none    &kp_to BACKSPACE 8  &move_num 20 4      &trans                                    &trans                                    &trans
            >;
        };

        Mod {
            display-name = "Mod_en";
            bindings = <
&trans  &kp Q             &kp W             &kp E              &kp R         &kp T                                  &kp Y            &kp U              &kp I              &kp O             &kp P                &trans
&trans  &hrm_slow LGUI A  &hrm_slow LALT S  &hrm LEFT_SHIFT D  &hrm LCTRL F  &kp G                                  &kp H            &hrm_slow RCTRL J  &hrm LEFT_SHIFT K  &hrm_slow RALT L  &hrm_slow RGUI SEMI  &trans
&trans  &kp Z             &kp X             &kp C              &kp V         &kp B                                  &kp N            &kp M              &kp COMMA          &kp DOT           &kp SLASH            &trans
                          &trans            &trans             &trans        &space_lt 18 0  &trans    &bspc_morph  &lt 20 K_CANCEL  &trans             &trans             &trans
            >;
        };

        Mod_ru {
            bindings = <
&trans  &kp Q             &kp W             &kp E              &kp R         &kp T                                  &kp Y            &kp U              &kp I              &kp O             &kp P                &trans
&trans  &hrm_slow LGUI A  &hrm_slow LALT S  &hrm LEFT_SHIFT D  &hrm LCTRL F  &kp G                                  &kp H            &hrm_slow RCTRL J  &hrm LEFT_SHIFT K  &hrm_slow RALT L  &hrm_slow RGUI SEMI  &trans
&trans  &kp Z             &kp X             &kp C              &kp V         &kp B                                  &kp N            &kp M              &kp COMMA          &kp DOT           &kp SLASH            &trans
                          &trans            &trans             &trans        &space_lt 19 0  &trans    &bspc_morph  &lt 21 K_CANCEL  &trans             &trans             &trans
            >;

            display-name = "Mod_ru";
        };

        Nav {
            bindings = <
&trans  &trans                          &macro_unsafe_en                 &kp LC(LS(LA(TAB)))  &kp LS(LC(LA(LG(F1))))    &testops                             &none       &kp HOME  &kp UP     &kp END    &kp DELETE  &trans
&trans  &hrm LEFT_GUI LC(LEFT_BRACKET)  &hrm LALT LC(RIGHT_BRACKET)      &kp LSHFT            &mod_dtap LCTRL LEFT_GUI  &zeros_macro                         &kp K_APP   &kp LEFT  &kp DOWN   &kp RIGHT  &kp END     &trans
&trans  &mt LC(Z) LG(LS(LEFT_BRACKET))  &mt LC(X) LG(LS(RIGHT_BRACKET))  &mt LC(C) LS(F6)     &mt LC(V) LS(LC(LA(V)))   &kp LS(LG(LC(F9)))                   &kp LC(F8)  &kp HOME  &kp PG_DN  &kp PG_UP  &none       &trans
                                        &trans                           &trans               &trans                    &none               &none    &trans  &mo 24      &trans    &trans     &trans
            >;

            display-name = "Nav_en";
        };

        Nav_ru {
            bindings = <
&trans  &trans  &macro_unsafe_ru  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans            &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans            &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans            &trans  &trans  &trans  &trans    &trans  &mo 25  &trans  &trans  &trans
            >;

            display-name = "Nav_ru";
        };

        Num {
            bindings = <
&trans  &kp MINUS  &kp NUMBER_7  &kp NUMBER_8  &kp N9        &kp PLUS                        &trans  &trans     &trans      &trans        &trans        &trans
&trans  &kp N0     &kp N1        &kp N2        &kp NUMBER_3  &morph_en_com                   &trans  &kp LCTRL  &kp LSHIFT  &kp LEFT_ALT  &kp LEFT_GUI  &trans
&trans  &kp EQUAL  &kp N4        &kp N5        &kp N6        &morph_en_dot                   &trans  &trans     &none       &none         &trans        &trans
                   &trans        &trans        &trans        &lt 24 SPACE   &none    &trans  &trans  &trans     &trans      &trans
            >;

            display-name = "Num_en";
        };

        Num_ru {
            display-name = "Num_ru";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                           &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &morph_ru_com                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &morph_ru_dot                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &lt 25 SPACE   &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        App {
            bindings = <
&trans                        &kp LA(LC(LS(P)))                    &vm_en LS(LA(LC(LG(W)))) LS(LA(LC(W)))  &mt LS(LA(LC(LG(E)))) LA(LS(LC(E)))  &mt LS(LA(LC(LG(R)))) LS(LA(LC(R)))  &kp LS(LA(LC(T)))                                             &kp LS(LA(LC(Y)))  &kp LS(LA(LC(U)))  &kp LS(LA(LC(I)))      &kp LS(LA(LC(O)))    &kp LS(LA(LC(P)))          &trans
&kp LS(LA(LC(LEFT_BRACKET)))  &mt LS(LA(LC(LG(A)))) LS(LA(LC(A)))  &mt LS(LA(LC(LG(S)))) LS(LA(LC(S)))     &mt LS(LA(LC(LG(D)))) LC(LA(LS(D)))  &kp LS(LA(LC(F)))                    &mt LS(LA(LC(LG(G)))) LA(LS(LC(G)))                           &kp LS(LA(LC(H)))  &kp LS(LA(LC(J)))  &kp LS(LA(LC(K)))      &kp LS(LA(LC(L)))    &kp LS(LA(LC(SEMICOLON)))  &kp LS(LA(LC(RIGHT_BRACKET)))
&trans                        &mt LS(LC(LA(LG(Z)))) LC(LA(LS(Z)))  &mt LS(LA(LC(LG(X)))) LA(LS(LC(X)))     &kp LS(LA(LC(C)))                    &kp LS(LC(LG(V)))                    &mt LS(LA(LC(LG(B)))) LS(LA(LC(B)))                           &kp LS(LA(LC(N)))  &kp LS(LC(LA(M)))  &kp LS(LA(LC(COMMA)))  &kp LS(LA(LC(DOT)))  &kp LS(LC(LA(SLASH)))      &trans
                                                                   &trans                                  &trans                               &trans                               &none                                &sl 22    &kp LA(ENTER)  &alt_spc_en        &trans             &trans                 &trans
            >;

            display-name = "App_en";
        };

        App_ru {
            bindings = <
&trans  &trans  &vm_ru LS(LA(LC(LG(W)))) LS(LA(LC(W)))  &trans  &trans  &trans                    &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans                                  &trans  &trans  &trans                    &trans       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans                                  &trans  &trans  &trans                    &trans       &trans  &trans  &trans  &trans  &trans
                &trans                                  &trans  &trans  &trans  &trans    &trans  &alt_spc_ru  &trans  &trans  &trans
            >;

            display-name = "App_ru";
        };

        Sym {
            bindings = <
&trans  &trans  &none                 &kp AMPERSAND  &kp CARET              &trans                         &trans            &kp LEFT_BRACKET  &kp ASTERISK  &kp RIGHT_BRACKET  &trans  &trans
&trans  &trans  &kp LEFT_PARENTHESIS  &kp AT         &kp RIGHT_PARENTHESIS  &kp PERCENT                    &ru_kp RU_NUMERO  &kp LEFT_BRACE    &kp DOLLAR    &kp RIGHT_BRACE    &trans  &trans
&trans  &trans  &kp TILDE             &kp HASH       &en_code               &none                          &trans            &kp LESS_THAN     &arrow_en     &kp GREATER_THAN   &trans  &trans
                &trans                &trans         &trans                 &trans       &trans    &trans  &trans            &trans            &trans        &trans
            >;

            display-name = "Sym_en";
        };

        Sym_ru {
            bindings = <
&trans  &trans  &none                 &en_kp AMPERSAND  &en_kp CARET  &trans                            &trans         &en_kp LEFT_BRACKET  &kp ASTRK      &en_kp RIGHT_BRACKET  &trans  &trans
&trans  &trans  &kp LEFT_PARENTHESIS  &en_kp AT         &kp RPAR      &kp RU_PERCENT                    &kp RU_NUMERO  &en_kp LEFT_BRACE    &en_kp DOLLAR  &en_kp RIGHT_BRACE    &trans  &trans
&trans  &trans  &en_kp TILDE          &en_kp HASH       &ru_code      &none                             &trans         &en_kp LESS_THAN     &arrow_ru      &en_kp GREATER_THAN   &trans  &trans
                &trans                &trans            &trans        &trans          &trans    &trans  &trans         &trans               &trans         &trans
            >;

            display-name = "Sym_ru";
        };

        Fn {
            display-name = "Fn";
            bindings = <
&trans  &trans   &kp F7  &kp F8  &kp F9  &trans                     &trans  &trans     &trans          &trans    &trans        &trans
&trans  &kp F10  &kp F1  &kp F2  &kp F3  &kp F12                    &trans  &kp LCTRL  &kp LEFT_SHIFT  &kp LALT  &kp LEFT_GUI  &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6  &kp F11                    &trans  &trans     &trans          &trans    &trans        &trans
                 &trans  &trans  &trans  &trans   &trans    &trans  &trans  &trans     &trans          &trans
            >;
        };

        OS {
            display-name = "OS_en";
            bindings = <
&trans       &bt_set_en 2  &kp_over_en LA(LC(N1))  &kp_over_en LA(LC(N2))    &kp_over_en LC(LA(NUMBER_3))  &kp_over_en LC(LA(NUMBER_4))                    &trans        &none    &trans  &trans  &bt BT_CLR  &trans
&trans       &bt_set_en 1  &kp LC(RIGHT)           &kp LA(LC(N1))            &kp C_VOLUME_UP               &kp C_BRI_UP                                    &out OUT_BLE  &kp F24  &trans  &trans  &soft_off   &trans
&bootloader  &bt_set_en 0  &none                   &kp LC(LS(LEFT_BRACKET))  &kp C_VOL_DN                  &kp C_BRI_DN                                    &out OUT_USB  &kp F23  &trans  &trans  &trans      &bootloader
                           &trans                  &trans                    &trans                        &trans                        &trans    &trans  &trans        &trans   &trans  &trans
            >;
        };

        OS_ru {
            display-name = "OS_ru";
            bindings = <
&trans  &bt_set_ru 2  &kp_over_ru LA(LC(N1))  &kp_over_ru LA(LC(N2))  &kp_over_ru LC(LA(NUMBER_3))  &kp_over_ru LC(LA(NUMBER_4))                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt_set_ru 1  &trans                  &trans                  &trans                        &trans                                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt_set_ru 0  &trans                  &trans                  &trans                        &trans                                          &trans  &trans  &trans  &trans  &trans  &trans
                      &trans                  &trans                  &trans                        &trans                        &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        Slower {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        Faster {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        OS {
            if-layers = <2 27>;
            then-layer = <28>;
        };

        Num {
            if-layers = <2 20>;
            then-layer = <21>;
        };

        MFree_Num {
            if-layers = <20 9>;
            then-layer = <21>;
        };

        MFree_OS {
            if-layers = <27 9>;
            then-layer = <28>;
        };

        App {
            if-layers = <2 22>;
            then-layer = <23>;
        };

        MFree_App {
            if-layers = <9 22>;
            then-layer = <23>;
        };

        MOver1_App {
            if-layers = <12 22>;
            then-layer = <23>;
        };

        MOver2_App {
            if-layers = <13 22>;
            then-layer = <23>;
        };

        MOver1_Num {
            if-layers = <12 20>;
            then-layer = <21>;
        };

        MOver2_Num {
            if-layers = <20 13>;
            then-layer = <21>;
        };

        Nav {
            if-layers = <2 18>;
            then-layer = <19>;
        };

        MFree_Nav {
            if-layers = <18 9>;
            then-layer = <19>;
        };

        MOver1_Nav {
            if-layers = <18 12>;
            then-layer = <19>;
        };

        MOver2_ru {
            if-layers = <18 8>;
            then-layer = <19>;
        };

        MOver1_OS {
            if-layers = <27 12>;
            then-layer = <28>;
        };

        MOver2_OS {
            if-layers = <27 13>;
            then-layer = <28>;
        };

        Mouse_ru {
            if-layers = <5 2>;
            then-layer = <10>;
        };

        MFree_ru {
            if-layers = <2 4>;
            then-layer = <9>;
        };

        M1_ru {
            if-layers = <7 2>;
            then-layer = <12>;
        };

        M2_ru {
            if-layers = <8 2>;
            then-layer = <13>;
        };
    };
};

&pointer_accel {
    input-type = <INPUT_EV_REL>;
    min-factor = <1000>;        // 0.9x minimum
    max-factor = <1200>;       // 2.0x maximum
    speed-threshold = <1500>;  // Start accelerating later
    speed-max = <5000>;         // 6000 counts/sec for max accel
    acceleration-exponent = <1>; // Linear acceleration
    track-remainders;          // Track fractional movements
};

&zip_inertia {
    // Initiation delay (Wait time after input stops before starting inertia)
    // Recommended: AT LEAST 2x your sensor's polling interval (e.g., 30ms for 15ms sensor).
    trigger-ms = <3>;

    // --- Mouse Movement Settings ---
    move-decay-factor-int = <80>;       // Decay rate (0-100)
    move-report-interval-ms = <20>;     // Report interval (ms)
    move-threshold-start = <1>;        // Start threshold (pix/report)
    move-threshold-stop = <1>;          // Stop threshold (pix/report)
};

&mmv {
    acceleration-exponent = <0>; 
};

&msc {
    acceleration-exponent = <0>; 
};

&mmv_input_listener {
    input-processors = <&pointer_accel &zip_inertia>; 
};

&msc_input_listener {
    faster {
        layers = <30>;
        input-processors = <&zip_xy_scaler 3 2>;
    };

    slower {
        layers = <29>;
        input-processors = <&zip_xy_scaler 1 2>;
    };
};

&mmv_input_listener {
    faster {
        layers = <30>;
        input-processors = <&zip_xy_scaler 3 2>;
    };

    slower {
        layers = <29>;
        input-processors = <&zip_xy_scaler 1 2>;
    };
};
